<h1>Register</h1>

<%= simple_form_for @user class: "form-horizontal" do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation, required: true %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.submit "Register", class: "btn btn-default" %>
<% end %>