<div>
  <% row = 0 %>
  <% cols = 0 %>
  <% @coords.each do |coord| %> 
    <% if row.even? && cols.even? %>
      <div class="grid">
        <% if coord.game_piece %>
          <%= coord.game_piece.name %>
        <% else %>
          <%= "#{coord.row} #{coord.column}" %>
        <% end %>
      </div>
    <% else %>
      <% if row.odd? && cols.odd? %>
        <div class="grid">
          <% if coord.game_piece %>
            <%= coord.game_piece.name %>
          <% else %>
            <%= "#{coord.row} #{coord.column}" %>
          <% end %>
        </div>
      <% else %>
         <div class="grid grey">
          <% if coord.game_piece %>
            <%= coord.game_piece.name %>
          <% else %>
            <%= "#{coord.row} #{coord.column}" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
      
    <% row += 1 %>
    <% if row == 8 %>
      <br>
      <% row = 0; cols += 1 %>
    <% end %>

  <% end %>

</div>

