<div id="game_board">
  <% row = 0 %>
  <% cols = 0 %>
  <% @coords.each do |coord| %>
    <div class="grid<%= " grey" if (row.odd? && cols.odd?) || (row.even? && cols.even?) %> droppable" id="<%= "#{coord.row}_#{coord.column}" %>" data-board-square="<%= coord %>" >
      <% if coord.game_piece %>
        <%= link_to image_tag(coord.game_piece.avatar.url()), board_game_piece_get_move_set_path(1, coord.game_piece), :data => { :game_piece => coord.game_piece}, remote: true, class: "draggable", id: "#{coord.row}_#{coord.column}" %>
      <% else %>
      <!-- no game piece on this square -->
        <%= "#{coord.row} #{coord.column}" %>
      <% end %>
    </div>
      
    <% row += 1 %>
    <% if row == 8 %>
      <br>
      <% row = 0; cols += 1 %>
    <% end %>

  <% end %>

</div>

